{% extends 'main.html' %}

{% block content %}
{% if (clss | length) == 0%}
	<div class="card bg-danger text-white">
		<h5 class="card-header">No Classes Added!</h5>
		<div class="card-body">
			<div class="card-text">Please add some classes to proceed.</div>
		</div>
	</div>
{%else%}
  {% for i in clss %}
	<ul class="list-group">
		<li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
		<div class="d-flex justify-content-center">
			{{ i.name }}
		</div>
		<div style="vertical-align: center;">
			<div class="input-group input-group-sm mb-3">
				<button class="btn btn-primary" type="button" id="btn-edit" onclick="showEditDiag('{{i.name}}','{{i.cls_code}}')" ><i class="fa fa-edit" aria-hidden="true"></i></button>
				<button class="btn btn-danger" type="button" id="btn-rm" onclick="showRmDiag('{{i.name}}','{{i.cls_code}}')"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
			</div>
		</div>
		</li>{% endfor %}
	</ul>
	<div class="container-fluid" style="padding: 10px;">
			<div class="input-group">
				<span class="input-group-text">Total Classes: </span>
				<span class="input-group-text badge-primary"> {{clss | length}} </span>
			</div>
	</div>
	<br>
{%endif%}
	<hr>
	<form class="card" method="post" style="padding: 5px;" action="">
		<input type="text" name="a" value="ad" hidden> 
		<h4 class="card-header">Add Class</h4>
	  <div class="card-body">
	    <div class="form-group col" style="padding: 10px;">
	      <label for="cls_name">Class Title</label>
	      <input type="text" name="cls_name" class="form-control" id="cls_name" placeholder="Class title" required>
	    </div>
	    <div class="form-group col" style="padding: 10px;">
	      <label for="cls_code">Class Code</label>
	      <input type="number" name="cls_code" class="form-control" id="cls_code" placeholder="Class code" required>
	    </div>
	  <div class="form-group" style="padding: 10px;">
	    <label for="cls_sub">Primary Subject</label>
	    <select class="custom-select" name="cls_sub" required>
			<option selected value="0">No Primary Subject</option>
			{% for s in t_sub %}
			<option value="{{s.sub_code}}">{{s.title}}</option>{%endfor%}
		  </select>
	  </div>
	  <div class="row" style="padding: 10px;">
		<button type="submit" class="btn btn-primary">Add Subject</button>
	  </div>
	</div>
</form>
<br>

<!-- Dialog Box - Remove -->
<div class="modal fade" id="rmcls-diag" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="rmcls-diag-title">Remove Subject?</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <i class="fa fa-close"></i>
		  </button>
		</div>
		<div class="modal-body">
		  Do you want to remove this class?
			<div><i style="padding-right: 5px; margin-left: 15px;" class="fa fa-book"></i><strong id="rm-diag-txt">Subject 1</strong></div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary" id="modal-rm-btn">Remove</button>
		</div>
	  </div>
	</div>
  </div>

<!-- Dialog Box - Edit -->
<div class="modal fade" id="edcls-diag" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="rmsub-diag-title">Edit Subject</h5>
		  <button type="button" class="close" data-dismiss="modal">
			  <i class="fa fa-close"></i>
		  </button>
		</div>
		<div class="modal-body">
			<form method="post" action="">
				<input type="text" name="a" value="ed" hidden>
				<input type="text" name="sub_code" id="ed-sub_code" hidden>
				<div class="card-body">
					<div class="form-group col" style="padding: 10px;">
					<label for="sub_title">Class Title</label>
					<input type="text" name="sub_title" class="form-control" id="ed-sub_title" value= "" disabled>
					</div>
				<div class="form-group" style="padding: 10px;">
					<label for="sub_priority">Classes per week</label>
					<input type="number" name="sub_priority" min="1" class="form-control" id="ed-sub_priority" placeholder="7" required>
				</div>
				<div class="form-group" style="padding: 10px;">
					<div class="form-check">
					<input class="form-check-input" name="sub_prac" type="checkbox" id="ed-sub_prac">
					<label class="form-check-label" for="sub_prac">It is a practical period.</label>
					</div>
				</div>
				</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary" id="modal-rm-btn">Save Changes</button>
			</div>
		</form>
	  </div>
	</div>
  </div>

  <form id="rmCls" action="" method="post" hidden>
	  <input type="text" name="a" value="rm">
	  <input type="text" name="cls_code" id="rmCls_id">
  </form>

{% endblock %}
{% block script%}
<script>
	const showRmDiag = function(s,i){
		$('#rmcls-diag').modal('show');
		$("#rm-diag-txt").text(s);
		$("#modal-rm-btn").on("click", function(e){
			$("#rmCls_id").val(i);
			$("#rmCls").submit();
		});
	};
	const showEditDiag = function(s,i,p,y){
		$("#edcls-diag").modal('show');
		$("#ed-cls_title").val(s);
		$("#ed-cls_priority").val(p);
		$("#ed-sub_code").val(i);
	};
</script>
{% endblock %}