{% extends 'main.html' %}

{% block content %}

    <div class="alert alert-success" {% if not show_success %}hidden{% endif %} role="alert">
        Saved <strong>Successfully!</strong>
    </div>
    <br>
    <form class="card" method="post" style="padding: 5px;">
		<h4 class="card-header">Preferences</h4>
	  <div class="card-body">
	    <div class="form-group col" style="padding: 10px;">
	      <label for="pref_t_days">Total working Days per week :</label>
	      <input type="number" max="7" min="2" name="pref_t_days" value="{{ pref['t_day'] }}" onchange="lstnr()" class="form-control" id="pref_t_days" placeholder="Subject title" required>
	    </div>
	    <div class="form-group col" style="padding: 10px;">
	      <label for="pref_period_pd">Total periods per day :</label>
	      <input type="number" id="b" max="13" min="1" name="pref_period_pd" onchange="lstnr()" value="{{ pref['t_period_pd'] }}" class="form-control" id="pref_period_pd" placeholder="Subject code" required>
	    </div>
	  <div class="row" style="padding: 10px;">
		<button type="submit" id="save-btn" class="btn btn-primary" disabled>Save</button>
	  </div>
	</div>
</form>
<br>
<div class="d-flex justify-content-end mr-3">
		<a href="/sub_select" class="btn btn-light">Next <i class="fa fa-angle-double-right"></i></a>
</div>
<script>
    const lstnr = function(e){
        document.getElementById("save-btn").removeAttribute('disabled')
    };
</script>
{% endblock %}