{% extends 'main.html' %}

    {% block head %}
        <style type="text/css">
            td,th {
                text-align: center;
                vertical-align: middle;
            }
            td.p2 {
                background-color: lightblue;
            }
            td.p1 {
                background-color: rgb(252, 182, 117);
            }
        </style>
    {% endblock %}

	{% block content %}
    <div class="container-fluid">
        <label for="key_txt" style="text-align: left;"class="col-form-label">Timetable Code :</label>
        <div class="container-fluid row">
            <div class="col" width="50%"><input style="text-align: center;" type="text" class="form-control" value="{{ key }}" id="key_txt" readonly></div>
            <div class="col"><a class="btn btn-dark" alt="Save Timetable" style="color: white;">Save <i class="fa fa-save"></i></a></div>
            <div class="col text-right" width="50%"><a text-align="center" class="btn btn-light" href="/timetable"><i style="margin-right: 3px;"class="fa fa-refresh"></i>Regenerate Timetable</a></div>
        </div>
    </div>
    <br>
    <center>
        <h5>View as: </h5>
        <div class="btn-group" role="group">
            <a class="btn btn-light active" disabled>Class wise</a>
            <a class="btn btn-light" href="/timetable_faculty/{{key}}">Faculty wise</a>
        </div>
    </center>
    <br><hr><br>

    <center>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-light" href="#clsCarousel" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Class
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            {% for s in clsr %}
            <button class="dropdown-item" onclick="$('#clsCarousel').carousel({{ loop.index -1 }})">{{ s.name }}</button>
            {% endfor %}
          </div>
        </div>
        <button type="button" class="btn btn-light text-center" href="#clsCarousel" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>
    </center>
    <br>
    <div id="clsCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
    
    {% for s in clsr %}
    <div class="carousel-item {% if loop.index == 1%}active{%endif%}">
    <h3 class="text-center"> Timetable for {{ s.name }}</h3>
    <div height="5"></div>
        <table style="overflow-x: scroll; width: auto; white-space: nowrap;" class="table table-bordered table-hover center">
            <thead>
        	<tr class="thead-dark center"> 
                <th scope="col">#</th>
        		<th scope="col">MONDAY</th>
        		{% set sl = (s.getData() | length) %}<th scope="col">TUESDAY</th>
        		{% if sl > 2 %} <th scope="col">WEDNESDAY</th>{% endif %}
        		{% if sl > 3 %} <th scope="col">THURSDAY</th>{% endif %}
        		{% if sl > 4 %} <th scope="col">FRIDAY</th>{% endif %}
                {% if sl > 5 %} <th scope="col">SATURDAY</th> {% endif %}
                {% if sl > 6 %} <th scope="col">SUNDAY</th> {% endif %}
        	</tr> 
            </thead>{% for x in range(s.getData()[0] | length) %}
                <tr>
                    <th scope="row" class="table-dark">{{ loop.index }}</th> 
                    {% for y in range(s.getData() | length) %} {% set j = s.getData()[y][x] %} {% if j.is_practical %} {% set c = "p1" %} {% else %} {% set c = "p2" %} {% endif %} <td class="{{c}}">{{j.title}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
    </div>
    </div>
    <script>
        $('#clsCarousel').on('slid.bs.carousel', function () {
            $("#btnGroupDrop1").text()
        });
    </script>
    {% endblock %}
